@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Serif+Display:ital@0;1&family=Outfit:wght@200&display=swap');

body{
    font-family: Outfit;
    background: white;
    margin: 0;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #FF9A00;
    position: relative;
    text-decoration: none;
    color: black;
}

.Navigation a{
    text-decoration: none;
    color: #4F200D  ;
}

.logo{
    font-family: Caprasimo;
    font-size: 3rem;
}

.navBar {
    display: flex;
    gap: 2rem;
    font-size: 20px;
    align-items: center;
}


.SignUp {
    background: white;
    border-radius: 5rem;
    padding: 0.5rem 1.2rem;
    font-weight: 500;
}

.Content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Content h1 {
    font-family: DM Serif Display;
    letter-spacing: .3rem;
    margin: 0;
    margin-top: 30px;
}

.Content p {
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    font-style: italic;
}

.highlight {
    color: #FF9A00;
}

.bustleImg{
    max-width: 100%;
    max-height: 100%;
    width: 50rem;
}
