@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&display=swap');

body{
    font-family: Outfit;
    background: white;
    margin: 0;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #FF9A00;
    position: relative;
    text-decoration: none;
    color: black;
}

.Navigation a{
    text-decoration: none;
    color: #4F200D  ;
}

.logo{
    font-family: Caprasimo;
    font-size: 3rem;
}

.navBar{
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.SignUp{
    background: white;
}

.Content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Content h1 {
    font-family: DM Serif Display;
    padding: 10px;
}